{
    "presets":[
         ["@babel/preset-env",{
              "targets":{
                 "browsers":["> 1%"]
              },
              "modules":false
          }]
    ],
    "plugins":["@babel/transform-runtime","syntax-dynamic-import"]
}